/*
=======================
** START STYLE/SCSS
=======================
*/

//import materialize

@import "sass/materialize.scss";




// colors



$col1:#203E38;
$col2:#BD8D0D;
$col3:#F0F7CE;
$col4:#ECD51A;
$col5:#945B02;
$succCol:#F0F7CE;
$rongCol:#E30627;

// old color 3
//$col1:#14080C;
//$col2:#D1C57B;
//$col3:#E30627;
//$col4:#AE0114;
//$col5:#F0F7CE;
//$succCol:#F0F7CE;
//$rongCol:#E30627;







// old color 2
//#18473F
//D2CF9A
//C98F09
//96C0B4
//026292
//18473F
//026292
//======== old color
//cfcbab
//#B86E9A
//467885
//333
//6499b5
//b10000
//======== new color
//026292
//D2CF9A
//C98F09
//96C0B4
//18473F

// End colors

@mixin bxshadw($x, $y, $s, $m, $col, $x2, $y2, $s2, $m2, $col3){
    
    -webkit-box-shadow:$x $y $y $m $col, $x2 $y2 $s2 $m2 $col;
    
    -moz-box-shadow:$x $y $y $m $col, $x2 $y2 $s2 $m2 $col;
    
    -o-box-shadow:$x $y $y $m $col, $x2 $y2 $s2 $m2 $col;
    
    box-shadow:$x $y $y $m $col, $x2 $y2 $s2 $m2 $col;
        
            
}

@mixin trans($elo) {
    
    $tim :.5s;
    $fun:0;
    @if $elo > $tim{
        
        $fun:linear;
        
    }@else {
        
        $fun:ease-in-out ;
        
    }
   
        
    -webkit-transition: all $elo $fun;
    -moz-transition: all $elo $fun;
    -o-transition: all $elo $fun;
    transition: all $elo $fun;
     
}
/* start main rules*/

body{
    background-color:$col2;
    font-size: 16px;
}


// select 

.card-padding{
  padding: 30px 10px !important;  
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: #2c3e50;
  background-image: none;
}
/* Custom Select */
.select {
  position: relative;
  display: block;
  width: 100%;
  height: 3em;
  line-height: 3;
  background: $col1;
  overflow: hidden;
  border-radius: .25em;
}
select {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0 0 0 .5em;
  color: #fff;
  cursor: pointer;
}
select::-ms-expand {
  display: none;
}
/* Arrow */
.select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 0 1em;
  background: #34495e;
  pointer-events: none;
}
/* Transition */
.select:hover::after {
  color: #f39c12;
}
.select::after {
  -webkit-transition: .25s all ease;
  -o-transition: .25s all ease;
  transition: .25s all ease;
}


// end select 


h1{
    font-weight: bold;
    color: $col5;
    margin: 50px;
}
.centering{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn{
    text-transform: none;
}
.row{
    margin: 0;
}
@media #{$small-and-down} {
    
    // styles for small screens and down
    
    h1{
        font-size: 36px;
    }
  }
// start global table ruls

.container-grid{
    position: relative;
    height: 350px;
    overflow: scroll;
}

.container-grid table{
    position: absolute;
    top: 0;
    left: 0;
  
}

.container-grid table .table-row {
    cursor: pointer;
      &:active {
        background-color: $col3;
    }
}

thead tr{
    background-color: $col2;
    color:$col4;
    border-radius:8px;
}

.table tbody td .accent-3{
    cursor: default;
     pointer-events: none;
}

@media #{$medium-and-down} {
      
    // styles for medium screens and larger
      
    table.responsive-table{
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    display: block;
    position: relative;
        
      }
}

//end global table ruls

/*start  global form*/

.text-center{
    color:#333;
    font-weight: bolder;
    margin-bottom: 15px;
}


.input-field .prefix.active{
    
    color: $col5;
}.input-field .prefix{
    
    color: $col1;
}

.input-field label{
    color: $col1 !important;
}

.contactForm{
    margin-top: 5vh;
}


input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly])
{
    
    border-bottom-color:$col5;
    box-shadow: 0 1px 0 0 $col5;
    color: $col5;
}
input[type=password]:not(.browser-default),
input[type=text]:not(.browser-default),
input[type=email]:not(.browser-default),
textarea.materialize-textarea
{
    color: $col1;
    border-bottom-color:$col1;
    box-shadow: 0 1px 0 0 $col1;
}
input[type=password]:not(.browser-default):focus:not([readonly])+ label,
input[type="text"]:not(.browser-default):focus:not([readonly])+ label,
input[type="email"]:not(.browser-default):focus:not([readonly])+ label,
textarea.materialize-textarea:focus:not([readonly]) + label
{
    color: $col5;
}

input[type=password].valid:not(.browser-default),
input[type=text].valid:not(.browser-default),
input[type=email].valid:not(.browser-default)
{
    border-bottom: 1px solid $col5;
    box-shadow: 0 1px 0 0 $col5;
}

input[type="number"]:not(.browser-default) {
    border-bottom:2px solid $col1;
}



.btn{
    color: $col1;
    background-color: $col5;
    &:hover{
     background-color: $col2;
    }
}

.margin{
    margin-top: 60px;
}

//.input-field span{
//    position: absolute;
//    height: 20px;
//    width: 20px;
//    border-radius: 50%;
//    background-color: firebrick;
//    display: block;
//    float: right;
//    top: 10px;
//    right: 20px;
//    display: none;
//}
.form .input-field {
   height: 120px;
}

//End success and Errorr masseges


@media #{$small-and-down} {
   .container .input-field .errmsg .msg {
    line-height: 26px;
}
    
   .form .input-field {
    height: 110px;
}
  }
  @media #{$medium-and-up} {
    // styles for medium screens and larger
  }
/*end form*/



//success and Errorr Masseges

 
 .errmsg_php .msg
{    text-align: center;
     margin-top:  0;
    
}

.errmsg .msg{
    text-align: center;
     padding: 2px;
}



.succmsg{//success msg 
     background-color: $succCol;
}

.errmsg,
.errmsg-php{
    background-color: indianred;
    display: none;
    border-radius:10px;
    }

//End success and Errorr Masseges


/*end main rules*/

//start nav

nav {
    background-color: $col1;
    height: 55px;
    line-height: 55px;
}
.nav-fixed{
    top: 0;
}
#nav-sm{
    position: fixed;
    bottom: 0;
    background-color: $col1;
    z-index: 88;
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
}
#nav-sm > a{
    padding: 6px;
    margin: 0 19px;     
    cursor: pointer;
    color: $col4;   
    
}
#sidenav-overlay{
    z-index: 1;
}
.search-nav{
//    width: 0 !important;
    margin-left: 15px;
    display: none;
   
    
}
input[type="search"]:not(.browser-default){
    width: 0;
}
#notification{
    margin-left: 20px;
    position: relative;
    cursor: pointer;
}
#up {
      position: relative;
      left: 2px;
      top :8px;
      width: 0px;
      height: 0px;
      border-style: solid;
      border-width: 0 10px 20px 10px;
      border-color: transparent transparent $col1 transparent;
     
}

#notification > span{
    position: absolute;
    height: 18px;
    width: 18px;
    background-color: red;
    border-radius: 50%;
    top: 13px;
    left: 13px;
    line-height: 18px;
    font-size: 11px;
    text-align: center;
    
}
#notification > .events{
    display: none;
}
#notification > .events ul li{
    float: none !important;
    color: $col1;
    
   
}

#notification > .events ul{
    max-width: 230px;
    overflow-y: auto;
    left: -80px;
    max-height: 340px;
}
.events ul .collection-item .notif_link{
    display: block;
    color: inherit;
}
nav .nav-wrapper i {
    height: 55px;
}

.search-box-sm{
    max-height: 250px;
}
.search-box-sm, #search-nav-sm, .search-box{
    background-color: $succCol;
    display: none;
    padding: 0 10px !important;
    overflow-y: auto;
    

}

#search-nav-sm {
    width: 100%;
}
.side-nav {
    z-index: 44 !important;
}
.side-nav li > a {
    min-width: 150px;
}
#search-nav-sm{
    padding: 0 10px !important;
    color: $col1;
}

.search-box-sm a, .search-box a{
    color: $col1;
    display: block;
}

.nav-fixed{
    position: fixed;
    z-index: 2;
}
.search-box{
    max-width: 155px;
    max-height: 300px;
   
}

.dropdown-button{
    width :115px !important;
}

nav .brand-logo,nav .button-collapse i,nav ul a,.dropdown-content li > a{
    color:$col3;
    font-weight: bold;
    font-size: 14px !important;
    padding: 0 10px !important;
    
}
.dropdown-content {
    width: auto !important;
    margin-top: 56px;
   
}
#dropdownSM{
    margin-top: 50px;
}  
.dropdown-content{
   background-color: $col1;   
}

nav i,nav i.material-icons {
    margin-left: 1px;
}
.dropdown-content li:hover, .dropdown-content li.active, .dropdown-content li.selected{
    background-color: $col4;
}
.dropdown-content li{
    display: table;
   
}
.dropdown-content li > a{
    display: table-cell;
    vertical-align: middle;
    padding: 10px 3px !important;
   
}

@media #{$medium-and-up} {
 .dropdown-button{
    width: 115px;
}   
}

  @media #{$small-and-down} {
    // styles for small screens and down
      #notification > .events ul{
       
        left: 0px;
}
      
  }

//end nav


//start serch field 
.nav-wrapper form .input-field{
    margin: 0;
    background-color:$col3;
    
}
.nav-wrapper .input-field input[type="search"]{
    height: 60px;
}

.nav-wrapper form .material-icons{
    font: 50px;
}

.nav-wrapper form .close{
    top: 13px !important;
}


//end serch field 




//start home page

.title{
   margin-top: 5vh;
   margin-bottom: 0;
}

.card-content{
  height: 130px;
  max-height: 130;

}
.card-content .card-title{
    width: 170px;
    height: 33px;
    overflow: hidden;
}

 .login-title{
     
 color: $col3;
 display: inline-block;
 font-weight: bold;
 cursor: pointer;
}
 
.selected{
    display: none;
}

.title-selected{
    color: $col1;
}

label {
    font-size: 0.8rem;
    color: #ddd !important;
}

.img-preview{
    margin-top: 25px;
    border-radius: 10px;
    height: 200px;
    @include bxshadw(0px,0px,0px,0px,rgba(0, 0, 0,.5),1px,0px,12px,8px,rgba(0, 0, 0,.5));
    display: table;
    text-align: center;
    width: 100%;
}

form .items-foto-preview{
    padding: 15px;
}

#items-fotos-preview{
    display: table;
}
#items-fotos-preview img{
    display: table-cell;
    vertical-align: middle;
}
.preview-fotos{
    overflow-y: scroll;
    display: inline-block;
}


.img-preview h5 {
    display: table-cell;
    vertical-align :middle;
}

form .delete-img{
    padding: 10px;
    border-radius:5px;
    @include trans(.5s);
    cursor: pointer;
    &:hover {
        padding: 18px;
    }
}

.progress .determinate{
    
    background-color: $col1;
    
}

button[type = submit]{
    margin-bottom: 180px;
    margin-top: 100px;
}

.user-foto {
    position: relative;
    top: 18px;
    border-radius: 10px;
}

//start home page


.plus-btn {
    margin-top: 5vh;
}

//end home page




//start profile

.side-list{

    
}


#Amount-btn{
    background-color: $col1 !important;
    color: $col3 !important;
    height: 70px;
    line-height: 50px;
    font-size: 30px;
    margin: 30px 100px;
    padding: 10px;
    
}
.modal.modal-fixed-footer#add-money{
    height: 35% !important;
}
#info-side-btn{
    position: relative;
    top: 50px;
    right: 50px;
    cursor: pointer;
}
#info-side-btn > i{
    color: $col3;
    font-size: 50px !important;
}

.img{
    height: 100%;
    width: 15% !important;
    margin-bottom: 20px;
}

.img img {
    @include bxshadw(-2px,5px,5px,1px,rgba(0, 0, 0,.5),1px,3px,12px,8px,rgba(0, 0, 0,.5));
    border-radius: 10%;
    &:hover ~ a{
        background-color: $col2;
    }
}
.img a {
    position: absolute;
    left: 11px;
    bottom: 12px;
    background: rgba(104, 165, 66, 0.65);
    width: 84%;
    display: flex;
    justify-content: center;
    color: wheat;
    &:hover {
        background-color: $col2;
    }
}
.update-btn{
     color: $col2;
     cursor: pointer;
}
.info .info-title{
      color: $col1;
      font-weight: bold;
}
.info .user-info{
    color: $col2;
}
.item-name{
    font-weight: bold;
    cursor: pointer;
}

.info .items-comment{
    display: none;
    position: relative;
    color: $col2;
    background-color: $col1;
    border-radius: 3px;
    padding: 7px;
    font-size: 14.5px;
    letter-spacing: .1px;
    margin-top: 8px;
    
}
 .comment-data {
    display: inline-block;
    position: relative;
    bottom: 17px;
}
.info-item-clm {
    background-color : $col3;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 25%;
    height: 92vh;
    margin-top: -8vh;
    overflow-y: scroll;   

}
#comment {
    top: -22px;
    position: relative;
    left: 7px;
}

.password-change{
    cursor: pointer;
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 50px;
    &:hover{
        color: $col5;
    }
    &:active{
        color: darkorange;
    }
    
}

.password-fields{
    display: none;
}

#errors{
    margin-top: 50px;
}

.addItemForm{
    padding: 10px !important;
    border: 4px $col1 dashed;
    border-radius: 8% 0 8% 0;
    display: none;
    margin-bottom: 50px;
}

.addItemForm .input-field{
    height: 18vh;
}

.addItemForm .btn-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-container .actor-img{
    left: 4px;
    position: relative;
}

.written_by {
    position: relative;
    left: 79px;
    top: -52px;
}
.comment-edit-btn {
    position: relative;
    top: -53px;
}

.img-container{
    overflow: hidden;
    width: 70px;
    height: 70px;
}

.items {
    margin-top:40px;
}
.price-num{
    font-size: 27px;
    position : absolute;
    top: 56px;
    left: 23px;
    font-size: 18px;
    
}
.user-name{
    margin-top: 80px;
    margin-bottom: 15px;
}

.addItemTitle{
    font-weight: bold;
    color: $col5;
}
.add-form-foto img {
    width: 100%;
}



#add-item-btn{
    background-color: $col5 !important;
    margin-bottom: 20px;
    right: 5vh;
    top: 14px;
}
#item-descrp {
    max-height: 85px !important;
    overflow: hidden !important;
}
#add-new-item-btn{
    right: 8vh;
}
.card .card-content{
    position: relative;
    padding: 10px;
    color: $col1;
}
.card .card-content p a{
    color:$col2;
    &:hover{
        text-decoration-line: underline;
    }
} 

.card .card-reveal {
    z-index: 1 !important;
}
.profile-item-icons{
   padding: 10px;  

}
.profile-item-icons i {
    cursor: pointer;
    color: $col1;
   
}

  @media #{$small-and-down} {
      
    // styles for small screens and down
      
      #user-foto-place{
          width: 130px !important;
      }
      #info-side-btn{
          top: 201px;
          right: 27px;
      }
      .card-content .card-title{
          width: 110px;
          height: 33px;
          overflow: hidden;
          
      }
      .card-content{
         font-size: 16px;
          
      }
      .card .card-reveal{
          padding: 5px;
      }
      .card .card-title, .card p{
          font-size: 18px;
      }
      
      .addItemForm{
          border-radius: 1%;
      }
      .comment-data {
        bottom: -57px;
      }
  }
  @media #{$medium-and-up} {
      
    // styles for medium screens and larger
      
      #user-foto-place{
          width: 130px !important;
      } 
      
      #info-side-btn{
      
      right: 39px;
      }
  }
  @media #{$medium-and-down} {
    // styles for medium screens and down
  }
  @media #{$large-and-up} {
    // styles for large screens and up
  }
  @media #{$extra-large-and-up} {
    // styles for extra large screens and up
  }


// end profile










//start item page

.item{
    margin-bottom: 5vh;
    background-color: rgba(177, 201, 156, 0.22);
    @include bxshadw(-2px,5px,5px,1px,rgba(0, 0, 0,.5),1px,3px,12px,8px,rgba(0, 0, 0,.5));
    border-radius: 31px;
    padding: 10px;
} 


.tags{
    color: aliceblue;
    &:hover{
        text-decoration: underline;
    }
}

.item_user_name{
    @extend .tags;
}
#buy-rst {
    display: flex;
    align-content: center;
    justify-content: center;
    margin: 10px 0;
    padding: 5px;
}

.modal .buy-form .input-field label {
    color: $col1 !important;
}
.details .buy-btn{
    width: 100%;
}
.details .buy-icon {
    float: left;
    font-size: 33px;
}
.details p { 
    color: $col5;
    font-size: 20px;
    font-weight: bold;
}
.item-info-card{

}


.edit-form .input-field {
    height: 70px;
    margin: 30px 0;
}

.edit-form input[type='submit']{
    margin: 30px;
}
.update-btn{
    left: -7px;
    position: relative;
    top: 11px;
    margin: 20px 0;
}
.details .item-main-img-show{
    margin: 20px 0;
   
}
.main-foto{
    max-width: 100%;
    
}
.items_imgs{
    display: flex;
    justify-content: center;
    align-content: center;
}

.items_imgs img{
    padding: 8px;
    border-radius: 10px;
//    @include trans(.5s);
    &:hover{
        padding: 2px;
        @include bxshadw(-2px,5px,5px,1px,rgba(0, 0, 0,.5),1px,3px,12px,8px,rgba(0, 0, 0,.5));
    }
}

#item-details{
    padding: 0 30px;
}
.details .item-main-img-show .main-foto{
    border-radius: 10px;
}
.edit-form .submit-containter{
    display: flex;
    align-items: center;
    justify-content: center;
}

#edit-item-btn{
    margin-top: 20px;
}

.add-comment {
    @extend .items-comment;
    display: flex;
}

.items-comment .comment-controller {
    padding: 0 25px;
}

.add-comment .area{
    width: 100%
}

.items-comment{
  background-color: $col4;
  color: $col5;
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 15px;
  @include bxshadw(-2px,5px,5px,1px,rgba(0, 0, 0,.5),1px,3px,12px,8px,rgba(0, 0, 0,.5));
    
}
.add-comment-icon{
    margin: 10px 0;
    
}
.items-comment span {
    position: static;
    
}
.items-comment .comment-controller i{
    cursor: pointer;  
    border-radius: 5px;
    &:hover {
        background-color: $col1;
    }
}
//End item page

//start footer
#select-lang{
     background-color: $col4 !important;
}
.page-footer{
    background-color: $col1;
    bottom: 0;
//    position: absolute;
    left: 0;
    right: 0;
}

//end footer



 @media #{$small-and-down} {
    // styles for small screens and down
  }
  @media #{$medium-and-up} {
    // styles for medium screens and larger
  }
  @media #{$medium-and-down} {
    // styles for medium screens and down
  }
  @media #{$large-and-up} {
    // styles for large screens and up
  }
  @media #{$extra-large-and-up} {
    // styles for extra large screens and up
  }















